@import url(base.css);
body {
  font-size: 4.26666667vw;
}
.top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 14.66666667vw;
  padding: 0 2.66666667vw;
  box-sizing: border-box;
  background-color: red;
}
.top i {
  font-size: 8vw;
  color: white;
}
.top input {
  width: 75%;
  height: 9.33333333vw;
  font-size: 4.26666667vw;
  text-align: center;
  border-radius: 1.33333333vw;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5efef;
}
.nav p {
  height: 12.8vw;
  line-height: 12.8vw;
  margin: 0;
  box-sizing: border-box;
}
.nav p:hover {
  border-bottom: 2px solid red;
  color: red;
}
.choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 4vw;
  border-top: 1px solid #d6d6d6;
  box-sizing: border-box;
}
.choice .one {
  width: 18.66666667vw;
  margin: 2.66666667vw 0;
}
.choice .one i {
  font-size: 10.66666667vw;
  color: red;
}
.choice .one p {
  margin: 0;
  font-size: 3.73333333vw;
  color: grey;
}
.rank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.66666667vw;
  padding: 2.66666667vw;
  border: 1px solid #c7c7c7;
}
.rank .left h4 {
  margin-top: 2.66666667vw;
}
.rank .left p {
  font-size: 3.2vw;
  margin: 2.66666667vw 0;
}
.rank .left p span {
  color: red;
}
.rank .right img {
  width: 26.66666667vw;
  height: 16vw;
}
.menu {
  margin: 8vw 2.66666667vw 2.66666667vw;
  padding-left: 1.33333333vw;
  border-left: 3px solid red;
  box-sizing: border-box;
}
.video {
  display: flex;
  margin: 0 2.66666667vw;
  padding: 1.33333333vw 0;
  border-top: 1px solid #eceaea;
}
.video img {
  width: 18.66666667vw;
  height: 18.66666667vw;
}
.video .txt {
  margin: auto 0 ;
}
.video .txt h5 {
  height: 20px;
}
.video .txt p {
  font-size: 3.2vw;
  margin: 0;
  color: grey;
}
.bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 14.66666667vw;
  padding: 0 2.66666667vw;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
}
.bottom div {
  text-align: center;
  margin: 0 5.33333333vw;
}
.bottom div i {
  font-size: 8vw;
  color: white;
}
.bottom div p {
  margin: 0;
  font-size: 3.73333333vw;
  color: white;
}
