@font-face {
  font-family: "iconfont"; /* Project id 3204575 */
  src: url('iconfont.woff2?t=1645758080085') format('woff2'),
       url('iconfont.woff?t=1645758080085') format('woff'),
       url('iconfont.ttf?t=1645758080085') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baobiao:before {
  content: "\100a4";
}

.icon-zhengjian:before {
  content: "\100a5";
}

.icon-huati:before {
  content: "\100a6";
}

.icon-yinhangka:before {
  content: "\100a7";
}

.icon-gouwu:before {
  content: "\100a8";
}

.icon-yudu:before {
  content: "\100a9";
}

.icon-ziliao:before {
  content: "\100aa";
}

.icon-cunchu:before {
  content: "\100ab";
}

.icon-wanchengrenwu:before {
  content: "\100ac";
}

.icon-meishi:before {
  content: "\100ad";
}

.icon-dianpu:before {
  content: "\100ae";
}

.icon-daishenhe:before {
  content: "\100af";
}

.icon-yuyin:before {
  content: "\100b0";
}

.icon-yingyongzhongxin:before {
  content: "\100b1";
}

.icon-tishi:before {
  content: "\100b2";
}

.icon-youhuiquan:before {
  content: "\100b3";
}

.icon-yaoqing:before {
  content: "\100b4";
}

.icon-quanyi:before {
  content: "\100b5";
}

